/* Icon fonts */
@font-face {
  font-family: 'iconfont';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/iconfont.eot');
  src:
    url('../fonts/iconfont.woff2') format('woff2'),
    url('../fonts/iconfont.woff') format('woff'),
    url('../fonts/iconfont.ttf') format('truetype'),
    url('../fonts/iconfont.svg#iconfont') format('svg'),
    url('../fonts/iconfont.eot#iefix') format('embedded-opentype');
}

.icon {
  font-family: 'iconfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-douban {
  &::before {
    content: "\E6EC";
  }
}

.icon-zhihu {
  &::before {
    content: "\E6ED";
  }
}

.icon-bilibili {
  &::before {
    content: "\E6EE";
  }
}

.icon-close {
  &::before {
    content: "\F00D";
  }
}

.icon-facebook {
  &::before {
    content: "\F082";
  }
}

.icon-twitter {
  &::before {
    content: "\F099";
  }
}

.icon-github {
  &::before {
    content: "\F09B";
  }
}

.icon-rss {
  &::before {
    content: "\F09E";
  }
}

.icon-menu {
  &::before {
    content: "\F0C9";
  }
}

.icon-pinterest {
  &::before {
    content: "\F0D2";
  }
}

.icon-up {
  &::before {
    content: "\F0D8";
  }
}

.icon-email {
  &::before {
    content: "\F0E0";
  }
}

.icon-linkedin {
  &::before {
    content: "\F0E1";
  }
}

.icon-youtube {
  &::before {
    content: "\F431";
  }
}

.icon-instagram {
  &::before {
    content: "\F16D";
  }
}

.icon-dribbble {
  &::before {
    content: "\F17D";
  }
}

.icon-weibo {
  &::before {
    content: "\F18A";
  }
}

.icon-vimeo {
  &::before {
    content: "\F27D";
  }
}

.icon-google {
  &::before {
    content: "\F1A0";
  }
}

.icon-behance {
  &::before {
    content: "\F1B4";
  }
}

.icon-codepen {
  &::before {
    content: "\F1CB";
  }
}

.icon-jsfiddle {
  &::before {
    content: "\F1CC";
  }
}

.icon-wechat {
  &::before {
    content: "\F1D7";
  }
}

.icon-medium {
  &::before {
    content: "\F23A";
  }
}

.icon-comment {
  &::before {
    content: "\F27A";
  }
}

.icon-quora {
  &::before {
    content: "\F2C4";
  }
}

.icon-translate {
  &::before {
    content: "\F1AB";
  }
}

